. {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 20vh;
  background-color: #05445E;
}

.section-display {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
  
}

.tabs {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10%;
 
  background-color:#87bfff;
}

.tabs-list {
  display: flex;
  flex-direction: row;
  justify-content:center;
  list-style-type: none;

}
.tab-item {
  font-size:1.2rem;
  color:white;
  font-weight:bold;
  margin:0 8rem 0 8rem;
  text-decoration: none;
}
